#logo {
    max-width: 75px;
}

.text-current {
    color: #ce2828 !important;
}

.nav-link:hover {
    color: #ce2828 !important;
}

.carousel-image {
    width: 30%;
    max-height: 400px;
}

.carousel-image img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.carousel-caption {
    max-width: 70%;
    max-height: 400px;
}

.carousel-caption > p {
    max-height: 125px;
}

.carousel-control-prev, .carousel-control-next {
    bottom: 10px;
    top: auto;
}

.carousel-control-prev {
    right: 200px;
    left: auto;
}

.carousel-control-next {
    right: 110px;
    left: auto;
}

.carousel-inner > button {
    width: 40px
}