a {
    text-decoration: none;
}

#logo {
    max-width: 75px;
}

.text-current {
    color: #ce2828 !important;
}

.nav-link:hover {
    color: #ce2828 !important;
}

.truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; 
}

.carousel-control-prev, .carousel-control-next {
    bottom: 10px;
    top: auto;
}

.carousel-control-prev {
    right: 200px;
    left: auto;
}

.carousel-control-next {
    right: 110px;
    left: auto;
}

.carousel-inner > button {
    width: 40px
}

